@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@200;300&family=Roboto:wght@300&display=swap');

.about {
    margin-top: 3.3rem;
    display: flex;
    flex-direction: column;
}

.profileimg {
    height: 13.3rem;
    width: 13.3rem;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 41.8rem;
    text-align: center;
}

.title span {
    background: linear-gradient(45deg, #FF8660, #9A33FF); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.about_content {
    font-family: "Poppins", sans-serif;
    width: 42.4rem;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-top: 2.4rem;
    font-weight: normal;
}

.downloadcv {
    margin: 0 auto;
    margin-top: 3.3rem;
    background-color: #fff;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
}

